<main>

    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active ">
            <div class="single-slider slider-height d-flex align-items-center " data-background="/public/assets/img/hero/back.jpg">
                <div class="container ">
                    <div class="row ">
                        <div class="col-xl-6 col-lg-9 col-md-10 ">
                            <div class="hero__caption ">
                                <h1 style="font-size: 46px; ">Find The Most Exciting Future Career</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <div class="row ">
                        <div class="col-xl-8 ">
                            <!-- form -->
                            <form action="/scrape" class="search-box d-flex " method="post">
                                <!-- {% csrf_token %} -->
                                <div class="input-form col-xl-8 ">
                                    <input type="text" name="query" placeholder="Job Title or keyword" style="border: 2px solid aquamarine; ">
                                </div>
                                <div class="col-xl-4 d-flex justify-content-center ">
                                    <!-- Center the button -->
                                    <button type="submit" class="btn btn-primary " style="width: 100%; ">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- <a href="{% url 'history' %} ">History</a> -->
                </div>
            </div>
        </div>
        <div class="our-services section-pad-t30 ">
            <div class="container ">
                <!-- Section Tittle -->
                <div class="row ">
                    <div class="col-lg-12 ">
                        <div class="section-tittle text-center ">
                            <span>FEATURED TOURS Packages</span>
                            <h2>Browse Top Categories </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center ">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                        <div class="single-services text-center mb-30 ">
                            <div class="services-ion ">
                                <span class="flaticon-tour "></span>
                            </div>
                            <div class="services-cap ">
                                <h5><a href="job_listing.html ">Design & Creative</a></h5>
                                <span>(653)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                        <div class="single-services text-center mb-30 ">
                            <div class="services-ion ">
                                <span class="flaticon-cms "></span>
                            </div>
                            <div class="services-cap ">
                                <h5><a href="job_listing.html ">Design & Development</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                        <div class="single-services text-center mb-30 ">
                            <div class="services-ion ">
                                <span class="flaticon-report "></span>
                            </div>
                            <div class="services-cap ">
                                <h5><a href="job_listing.html ">Sales & Marketing</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                        <div class="single-services text-center mb-30 ">
                            <div class="services-ion ">
                                <span class="flaticon-app "></span>
                            </div>
                            <div class="services-cap ">
                                <h5><a href="job_listing.html ">Mobile Application</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                        <div class="single-services text-center mb-30 ">
                            <div class="services-ion ">
                                <span class="flaticon-helmet "></span>
                            </div>
                            <div class="services-cap ">
                                <h5><a href="job_listing.html ">Construction</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                        <div class="single-services text-center mb-30 ">
                            <div class="services-ion ">
                                <span class="flaticon-high-tech "></span>
                            </div>
                            <div class="services-cap ">
                                <h5><a href="job_listing.html ">Information Technology</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                        <div class="single-services text-center mb-30 ">
                            <div class="services-ion ">
                                <span class="flaticon-real-estate "></span>
                            </div>
                            <div class="services-cap ">
                                <h5><a href="job_listing.html ">Real Estate</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                        <div class="single-services text-center mb-30 ">
                            <div class="services-ion ">
                                <span class="flaticon-content "></span>
                            </div>
                            <div class="services-cap ">
                                <h5><a href="job_listing.html ">Content Writer</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row ">
                    <div class="col-lg-12 ">
                        <div class="browse-btn2 text-center mt-50 ">
                            <a href="job_listing.html " class="border-btn2 ">Browse All Sectors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="support-company-area fix section-padding2 ">
            <div class="container ">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-lg-6 ">
                        <div class="right-caption ">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 ">
                                <span>What we are doing</span>
                                <h2>24k Talented people are getting Jobs</h2>
                            </div>
                            <div class="support-caption ">
                                <p class="pera-top "> Embark on a dynamic career journey with our state-of-the-art job portal, where innovation and excitement converge. Our platform is dedicated to providing you with real-time updates on the latest and most thrilling job opportunities
                                    available.
                                </p>
                                <a href="about.html " class="btn post-btn ">Post a job</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 ">
                        <div class="support-location-img ">
                            <img src="/public/assets/img/prt.jpg" alt=" ">
                            <div class="support-img-cap text-center ">
                                <p>Since</p>
                                <span>1994</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
        <!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-150 pb-150 " data-background="/public/assets/img/gallery/how-applybg.png">
            <div class="container ">
                <!-- Section Tittle -->
                <div class="row ">
                    <div class="col-lg-12 ">
                        <div class="section-tittle white-text text-center ">
                            <span>Apply process</span>
                            <h2> How it works</h2>
                        </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row ">
                    <div class="col-lg-6 col-md-6 ">
                        <div class="single-process text-center mb-30 ">
                            <div class="process-ion ">
                                <span class="flaticon-search "></span>
                            </div>
                            <div class="process-cap ">
                                <h5>1. Search a job</h5>
                                <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 ">
                        <div class="single-process text-center mb-30 ">
                            <div class="process-ion ">
                                <span class="flaticon-tour "></span>
                            </div>
                            <div class="process-cap ">
                                <h5>3. Get your job</h5>
                                <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- How  Apply Process End-->
        <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding ">
            <div class="container ">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center ">
                    <div class="col-xl-8 col-lg-8 col-md-10 ">
                        <div class="h1-testimonial-active dot-style ">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center ">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder ">
                                        <div class="founder-img mb-30 ">
                                            <img src="/public/assets/img/sir2.jpg" alt=" " width="200px " height="200px ">
                                            <span>Imran Abbas Kazmi</span>
                                            <p>Assistant Professor</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap ">
                                        <p>“ As an Assistant Professor with an impressive 22-year tenure in the IT field, I bring a wealth of experience and expertise to the academic realm. Specializing in programming, I have honed my skills over the years,
                                            offering students a unique blend of practical industry insights and theoretical knowledge. My commitment to fostering a deep understanding of programming languages contributes to a comprehensive and enriching
                                            educational experience.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center ">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder ">
                                        <div class="founder-img mb-30 ">
                                            <img src="/public/assets/img/asad.jpg" alt=" " width="200px " height="200px ">
                                            <span>Asad Ur Rehman</span>
                                            <p>BS IT Final Year Student</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap ">
                                        <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center ">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder ">
                                        <div class="founder-img mb-30 ">
                                            <img src="/public/assets/img/tajamal.jpg" alt=" " width="200px " height="200px ">
                                            <span>Tajamal Abbas</span>
                                            <p>BS IT Final Year Student</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap ">
                                        <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</main>